@* 
Controller: Dashboard
Action: Index
*@

@using SCS.Models.ViewModels
@model DashboardVM

<h1>Dashboard</h1>
<h2>Customers: @Model.Users</h2>
<h2>Orders:  @Model.Orders</h2>
<h2>Products: @Model.Products</h2>
<h2>Bookings :@Model.Bookings</h2>

