@page "/admin/dashboard"
@using SCS.Blog.Components.Shared
@attribute [Authorize(Roles = "admin")]

<PageTitle>@Utils.GetPageTitle("Dashboard")</PageTitle>


<AdminHeader Title="Dashboard"></AdminHeader>

@* <AuthorizeView>
    <Authorized> *@
        <div class="text-center">
            <p class "p-5">
               @*  <h2>Hello, @context.User.GetUserName()</h2> *@
                <br/>
                <h3>Welcome to admin dashboard</h3>
            </p>
        </div>
@*     </Authorized>
</AuthorizeView>
 *@