@model Provider

<div class="card shadow border-0 mt-4 ">
    <div class="card-header bg-primary bg-gradient m-lg-0 py-3 rounded">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Id != 0 ? "Edit provider" : "New provider")</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border border-0">    
                <input asp-for="Id" type="hidden" />
                <div class="form-floating py-2 col-12">
                    <input asp-for="Name" class="form-control border-1 " />
                    <label asp-for="Name" class="mt-2 "></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ContactName" class="form-control border-1 " />
                    <label asp-for="ContactName" class="mt-2 "></label>
                    <span asp-validation-for="ContactName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ContactEmail" class="form-control border-1 " />
                    <label asp-for="ContactEmail" class="mt-2 "></label>
                    <span asp-validation-for="ContactEmail" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ContactPhone" class="form-control border-1 " />
                    <label asp-for="ContactPhone" class="mt-2 "></label>
                    <span asp-validation-for="ContactPhone" class="text-danger"></span>
                </div>
                <div class="btn-group" role="group">
                    @if (Model.Id == 0)
                    {
                        <button type="submit" class="btn btn-primary mx-1" style="width:100px;">Save</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary mx-1" style="width:100px;">Update</button>
                    }
                    
                    <a asp-area="Admin" asp-controller="Providers" asp-action="Index" class="btn btn-outline-primary mx-1" style="width:100px;">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />

    }
}