
<div class="container">
    <div>
        <h2>Contact Us</h2>
        <p>Swing by for a cup of coffee, or leave us a message:</p>
    </div>
    <div class="row">
        <div class="col">
            <img src="~/images/map.jpg" style="width:100%">
        </div>
        <div class="col">
            <form>
                <div class="row">
                    <div class="col-1">
                        <label>Name</label>
                    </div>
                    <div class="col-6">
                        <input type="text" id="name" name="firstname" placeholder="Your name..">

                    </div>
                </div>
                
                <div class="row">
                    <div class="col-1">
                        <label>Email</label>
                    </div>
                    <div class="col-6">
                        <input type="text" id="email" name="email" placeholder="Email..">
                    </div>
                </div>

                <div class="row">
                    <div class="col-1">
                        <label>Subject:</label>
                    </div>
                    <div class="col-6">
                        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                    </div>
                </div>
                                                
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
