@* Project: CSC Mock Test
   File   : Index for Home Controller
   Author : Pedro Martinez
*@
@{
    ViewData["Title"] = "Home Page";
}
<section>
    
    <div class="container mt-5">
        <img class="col-12" src="https://www.scservices.se/wp-content/uploads/2019/10/community-hero.png">
        <h2>Certifications, preparation and implementation</h2>
        <p>Let us take care of the administration of your certifications</p>
        <a href="https://www.scservices.se/contact/" title="Kontakta oss" class="btn btn-primary mb-4">Kontakta oss</a>
    </div>
    <p>Our business concept is very simple. We help you and your company use certifications to validate the skills you or your staff have.<br /> 
        Everything from which courses you should take to acquire your skills to training for the certification and then booking and taking the test.</p>
</section>




