@* 
    Controller : Customer.Users
    View :  Edit 
*@
@model AppUser

<div class="card shadow border-0 mt-4 rounded-2 ">

    <div class=" card-header bg-primary bg-gradient ml-0 py-3 rounded">
        <div class="row">
            <div class="col-12">
                <h2 class="text-white py-2">Profile</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row">
            <input asp-for="Id" hidden />
            <input asp-for="AddressId" hidden />
            <div class="border border-0 align-content-between">
                <div class="form-floating py-2">
                    <input asp-for="Name" class="form-control border-1" />
                    <label asp-for="Name" class="ms-2"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Email" class="form-control border-1" readonly/>
                    <label asp-for="Email" class="ms-2"></label>
                </div>
                <div class="form-floating py-2">
                    <input asp-for="PhoneNumber" class="form-control border-1" />
                    <label asp-for="PhoneNumber" class="ms-2">Phone Number</label>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                
                @* Address  ----------------- *@
                <div class="container border bg-light ">
                    <div class="text-black">Address</div>
                    <div class="form-floating py-2">
                        <input asp-for="Address.Street1" class="form-control border-1" />
                        <label asp-for="Address.Street1" class="ms-2"></label>
                        <span asp-validation-for="Address.Street1" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2">
                        <input asp-for="Address.Street2" class="form-control border-1" />
                        <label asp-for="Address.Street2" class="ms-2"></label>
                    </div>
                    <div class="form-floating py-2">
                        <input asp-for="Address.City" class="form-control border-1" />
                        <label asp-for="Address.City" class="ms-2"></label>
                        <span asp-validation-for="Address.City" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2">
                        <input asp-for="Address.State" class="form-control border-1" />
                        <label asp-for="Address.State" class="ms-2"></label>
                        <span asp-validation-for="Address.State" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2">
                        <input asp-for="Address.Postcode" class="form-control border-1" />
                        <label asp-for="Address.Postcode" class="ms-2"></label>
                        <span asp-validation-for="Address.Postcode" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2">
                        <input asp-for="Address.Country" class="form-control border-1" />
                        <label asp-for="Address.Country" class="ms-2"></label>
                        <span asp-validation-for="Address.Country" class="text-danger"></span>
                    </div>
                </div>
                
                @* Buttons  --------------- *@
                <div class="btn-group mt-2" role="group">
                    <button type="submit" class="btn btn-primary mx-1 form-control" style="width: 100px">Update</button>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary mx-1" style="width: 100px">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}