@* <div class="card bg-primary col-12 w-100 text-white">
    <div class="pl-1">
        <span>
            <p class="card-title">Contact</p> 
            <p class="card-text">Hagastigen 5 26135 Landskona Sweden</p>
        </span>
        <p class="card-text"><b>Org: 559389-0592</b></p>
    </div>
 *@
<footer class="footer border-top text-muted">
<div class="row text-center bg-light text-primary w-100">
    <div class="col">
        2024 - Scandinavian Certification Services AB
    </div>
    <div class="col">
        Copyright &copy; All Rights Reserved
    </div>
    <div class="col">
        <a asp-area="" asp-controller="Home" asp-action="Privacy">
            Privacy
        </a>
    </div>
</div>
</footer>
