
<footer class="footer">
    <div class="container">
        <div class="row mx-2">
            <div class="footer-col">
                @* <h4>company</h4> *@
                <ul>
                    <li>
                        <a asp-area="Customer" asp-controller="Home" asp-action="About">
                           About us
                        </a>
                    </li>
                                    
                    @* <li>
                        <a asp-area="Customer" asp-controller="Home" asp-action="Privacy">
                            privacy policy
                        </a>
                    </li> *@
                </ul>
            </div>
            <div class="footer-col">
                <ul>
                    <li>
                        <a asp-area="Customer" asp-controller="Home" asp-action="Contact">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <ul>
                    <li>
                        <a href="https://pgmp1992.github.io/Port/" target="_blank">
                            &copy;2025 pgmp.se
                        </a>
                    </li>
                </ul>
            </div>

                @*  <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div> 
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">Products</a></li>
                    
                    <li><a href="#">Product Line</a></li>
                </ul> 
            </div> *@
            <div class="footer-col">
                @* <h4>follow us</h4> *@
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>

        </div>
    </div>
</footer>