@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    font-family: 'Public Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}




.container {
    flex: 1;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.bg-primary {
    background-color: #002c41 !important;
}

.custom-title {
    color: #052742 !important;
}

.custom-margin {
    margin-left: 3rem;
    margin-right: 3rem;
}


﻿ /* Top Notification Bar */
.notification-bar {
    background-color: #dff0ed;
    font-size: 0.9rem;
    color: #333;
}

/* Middle Branding Bar */
.branding-bar {
    font-size: 0.85rem;
    background-color: #1A2A40;
    color: #555;
    border-bottom: 1px solid #dee2e6;
}

/* Main Header */
.main-header {
    background-color: white;
}

.header-icons a {
    color: #333;
    text-decoration: none;
}

.header-icons a:hover {
    color: #0056b3;
}

/* Bottom Navigation */
.navbar-nav.nav-link {
    color: #333;
    font-weight: 500;
}

.navbar-nav.nav-link:hover {
    color: #0056b3;
}