@model Product

<div class="card shadow border-0 mt-4 mb-4">
    <div class="card-header bg-primary bg-gradient m-lg-0 py-2 rounded">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Delete Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Id" hidden />

            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        <div class="form-floating py-2 col-12">
                            <input disabled asp-for="Name" class="form-control border-1 " />
                            <label asp-for="Name" class="mt-2 "></label>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <textarea readonly="true" disabled asp-for="Description" class="form-control border-1" style="height:150px"></textarea>
                            <label asp-for="Description" class="mt-2 text-muted "></label>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input disabled asp-for="@Model.Category.Name" class="form-control border-1" />
                            <label asp-for="Category" class="mt-2 "></label>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input disabled asp-for="@Model.Provider.Name" class="form-control border-1" />
                            <label asp-for="Provider" class="mt-2 "></label>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input disabled asp-for="Price" class="form-control border-1" />
                            <label asp-for="Price" class="mt-2 "></label>
                        </div>
                        
                        @* Buttons ----------- *@
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-danger form-control rounded">Delete</button>
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-area="Admin" asp-controller="Products" asp-action="Index" 
                                    class="btn btn-primary rounded form-control">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    @if (Model.ProductImages != null)
                    {
                        @foreach (var image in Model.ProductImages)
                        {
                            <div class="border p-1 m-2 text.center ">
                                <img src="@image.ImageUrl" width="100%"
                                style="border-radius:5px; border:1px solid #bbb9b9" />
                            </div>
                        }
                    }
                </div>
            </div>
        </form>
    </div>
</div>

